<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Mini-Market | Mi Cesta</title>
</head>

<body>
    <header></header>

    <main>
        <div class="hero">
            <h1>Tu Carrito</h1>
        </div>

        <div id="contenedor-cesta" class="lista-carrito"></div>

        <div class="total-seccion">
            <h3>Total: <span id="precio-total">0</span>€</h3>
            <button id="btn-vaciar" class="btn-eliminar"
                style="margin-top:10px; padding:10px; background:#dc3545; color:white; border:none; border-radius:5px; cursor:pointer;">Vaciar
                Carrito</button>
        </div>
    </main>
</body>

</html>