<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Tu Cesta | Mini-Market</title>
</head>

<body>
    <header>
        <nav>
            <h1>Mini-Market - Mi Carrito</h1>
            <a href="index.html">Volver a la tienda</a>
        </nav>
    </header>
    <main>
        <div id="lista-cesta"></div>
        <div class="resumen">
            <h3 id="total">Total: 0€</h3>
            <button id="btn-pagar">Finalizar Compra</button>
        </div>
    </main>
</body>

</html>